<h1>Ask the Motivation Coach anything!</h1>
<p>He'll answer depending on your question & motivation!</p>
<form action="/answer" class="input-style">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
